# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.whl
wheels/
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.env
*.env

# Selenium related
selenium-screenshots/
seleniumlogs/
errorShots/

# Jupyter Notebooks
.ipynb_checkpoints

# Distribution / packaging
.venv
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
htmlcov/
.tox/
.nox/
coverage.*
.cache
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PyCharm
.idea/
*.iml

# Git
*.lock
